.nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px 40px 50px 40px;
    height: 100%;
    box-sizing: border-box;
    .body{
        display: flex;
        gap: 10px;
        flex-direction: column;
        .linkContainer{
            perspective: 120px;
            perspective-origin: bottom;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: 46px;
        }
    }
    .footer{
        display: flex;
        flex-wrap: wrap;
        span{
            width: 50%;
            margin-top: 10px;
            color: white;
        }
    }
    

    .credential {
    display: flex;
    flex-direction: column;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        transform: translateX(5px);
    }

    .label {
        font-size: 14px;
        opacity: 0.6;
    }

    .value {
        font-size: 28px;
        font-weight: 600;
    }
}
}